:root {
  --font-family: "Proxima Nova", sans-serif;
  --second-family: "El Messiri", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
.wrap {
  width: 1920px;
  height: 5155px;
  background-color: #162831;
  box-sizing: border-box;
  margin: 0 auto;
}
/* header {
  width: 1298px;
  height: 51px;
} */
.promo-img {
  background-image: url(/img/promo-header.jpg);
  background-repeat: no-repeat;
  border-radius: 10px;  
  width: 1296px;
  height: 600px;
} 